/*!*ROOT*!*/
:root {
    --text-white: #fff !important;
    --bg-color-dark: #1D2327;
    --button-color-dark: #1D2327;
}

/*!*#############*!*/
/*DEFAULT RES.*/
* {
    list-style-type: none;
    margin: 0;
    text-decoration: none !important;
}

/*!*#############*!*/
/*!*Custom Styles.*!*/
html {
    height: 100%;
}
body {
    height: 100%;
    grid-auto-rows: 0fr 1fr 0fr;
}
header, footer {
    background-color: var(--bg-color-dark);
    color: var(--text-white);
    text-align: center;
    height: max-content;
}
.logo-img {
    height: 100px;
    object-fit: cover;
}
main > div {
    border-bottom: 1px solid var(--bg-color-dark)!important;
}
main > :last-of-type {
    border: none!important;
    /*margin-bottom: 0!important;*/
}
nav.navigation.pagination {
    display: flex;
    justify-content: center;
}
.book-bg {
    background-image: url("../img/bg-book.jpg");
    background-repeat: repeat;
    backdrop-filter: blur(55px);
}
.book-blur {
    background: rgba(255,255,255,.9);
    backdrop-filter: blur(50px);
    padding: 10px 5px;
    border-radius: 5px;

}